body {
	font-size: 100%;
}

div {
	
}

#main {
	width:900px;
}

#map {
	position: relative;
    width: 900px;
    height: 700px;
}

#townInfo {
	position: absolute;
	right:0;
	bottom:0;
	width: 400px;
	height: 180px;
}

#townInfoName {
	color:#00f;
	font-size: 2.2em;
}

.townInfoDetails {
	margin-left:20px;
}

#graphs {
	width: 100%;
}

.graph {
	display: inline-block;
	width:425px;
	height:300px;
}

.center-horizontally {
	margin: 0 auto 0 auto;
}

.frame {
	width: 220px;
	height: 180px;
    display: inline-block;
}

.headerText {
	text-align: center;
	font-size: 1.6em;
}

.town {
    fill: #ccc;
}

.overTown {
	fill: #f00;
}