div {
    border-style: solid;
}

#main {
	width:900px;
	margin: 0 auto 0 auto;
}

#map {
	position: relative;
    width: 900px;
    height: 700px;
}

#townInfo {
	position: absolute;
	right:0;
	bottom:0;
	width: 570px;
	height: 180px;
}

.frame {
	width: 900/4;
	height: 50px;
    display: inline-block;
}

.town {
          fill: #ccc;
}

.overTown {
	fill: #f00;
}