div {
    border-style: solid;
}

#map {
	position: relative;
    width: 1000px;
    height: 700px;
}

#townInfo {
	position: absolute;
	right:0;
	bottom:0;
	width: 700px;
	height: 200px;
}

.frame {
    block: inline;
}

.town {
          fill: #ccc;
      }

.overTown {
	fill: #f00;
}